*{
    margin:0;
}
header{
   border: .1rem solid green;
   display: flex;
   justify-content: space-evenly;
   align-items: center; 
}
ul{
    display: flex;
    justify-content: space-between;
    /* border: 1rem dotted blue; */
    width: 20%;
}
ul li > a{
    text-decoration: none;
    /* color: green; */
} 
ul li:nth-child(2) a{
    /* border: .1rem solid red; */
    color:red;
}
/* styling the main using flex and its properties */
section{
    border:.1rem ridge blue;
    display: flex;
    column-gap: 2rem;
    justify-content: space-around;
    /* align-items: center; */
}
article{
    border: .1rem solid black;
    flex:2;
}
aside{
    border:.1rem double grey;
    flex: 1;
    background-color: grey;
}
#endNote{
    /* background-color: black;
    color:white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type=text], input[type=submit]{
    line-height: 2;
    height: 2rem;
    outline: none;
}
input[type=submit]:is(:hover){
    background-color: green;
    color:white;
}
#quicks h3{
    cursor: pointer;
}
#quicks:hover h3{
    color:green;
    text-decoration: underline;
}
ol{
    list-style-type: none;
}
ol > li a{
    text-decoration: none;
}