.break{
    color: green;
    writing-mode: vertical-rl;
}
td:hover{
    background-color: black;
    color:white;
}
.break::before{
    content: '\2602';
}
.text_color{
    color:red;
}
.javClass{
    border: .2rem solid purple;
    width:50%;
}